VITE_BOT_CHAIN_RPC_URL=https://rpc.botchain.ai
VITE_BOT_CHAIN_CHAIN_ID=677
VITE_BOT_CHAIN_NAME=BOT Chain Mainnet
VITE_BOT_CHAIN_EXPLORER_URL=https://scan.botchain.ai
VITE_LOANCH_CONTRACT_ADDRESS=0xe42f0fd2623B5019F414865937f3c9bECb9342AE
